<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="makeNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.yocto.crops.make.MakeNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="org.yocto.crops.make.MakeBuildConfigurationProvider"
            id="org.yocto.crops.make.provider"
            natureId="org.yocto.crops.make.makeNature">
      </provider>
   </extension>

</plugin>
