<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
          id="org.yocto.crops.launch.ui.runYoctoDockerImageLaunchConfigurationType"
          delegate="org.yocto.crops.internal.container.docker.launch.ui.YoctoRunDockerImageLaunchConfigurationDelegate"
          modes="run"
          name="Yocto Run Image">
      </launchConfigurationType>
   </extension>
  <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.yocto.crops.launch.ui.runYoctoDockerImageLaunchConfigurationType"
          icon="icons/yocto_dot-16x16.png"
          id="org.yocto.crops.launch.ui.runYoctoDockerImageLaunchConfigurationTypeImage">
    </launchConfigurationTypeImage>
  </extension>    
   <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="org.yocto.crops.internal.container.docker.launch.ui.YoctoRunDockerImageLaunchConfigurationTabGroup"
          id="org.yocto.crops.launch.ui.runYoctoDockerLaunchConfigurationTabGroup"
          type="org.yocto.crops.launch.ui.runYoctoDockerImageLaunchConfigurationType">
    </launchConfigurationTabGroup>
 </extension>
    
</plugin>
