<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="crops.makefile.managedbuilder"
         name="Crops Makefile Managed Builder"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="org.yocto.crops.zephyr.ZephyrConfigurationEnvironmentVariableSupplier"
            id="org.yocto.crops.zephyr.toolchain"
            isAbstract="false"
            name="CROPS Zephyr Toolchain"
            osList="all"
            superClass="org.yocto.crops.core.toolchain"
            supportsManagedBuild="true">
         <builder
               arguments=" exec -i ${toolchain_container_id} /bin/bash -c  &quot;export BOARD=${board} &amp;&amp; export ZEPHYR_GCC_VARIANT=${zephyr_gcc_variant}  &amp;&amp; export ZEPHYR_SDK_INSTALL_DIR=${zephyr_install_dir} &amp;&amp; export ZEPHYR_BASE=${zephyr_base} &amp;&amp; make -C ${crops_root}/${ProjName} ${clean}&quot;"
               cleanBuildTarget=" pristine"
               command="docker"
               id="org.yocto.crops.zephyr.MakefileBuilder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="CROPS Makefile Builder"
               superClass="org.yocto.crops.core.MakefileBuilder">
         </builder>
         <optionCategory
               icon="icons/zephyr-16x16.png"
               id="org.yocto.crops.zephyr.category.zephyr_defaults"
               name="Zephyr Defaults">
         </optionCategory>
         <option
               category="org.yocto.crops.zephyr.category.zephyr_defaults"
               command="BOARD="
               id="crops.cdt.managedbuild.option.zephyr_board"
               isAbstract="false"
               name="board"
               resourceFilter="all"
               tip="Zephyr target board"
               valueHandler="org.yocto.crops.zephyr.ZephyrBoardOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.zephyr.category.zephyr_defaults"
               command="ZEPHYR_SDK_INSTALL_DIR="
               id="crops.cdt.managedbuild.option.zephyr_install_dir"
               isAbstract="false"
               name="zephyr_install_dir"
               resourceFilter="all"
               tip="Zephyr SDK Install Directory (in the toolchain container)"
               valueHandler="org.yocto.crops.zephyr.ZephyrSdkInstallDirOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.zephyr.category.zephyr_defaults"
               command="ZEPHYR_GCC_VARIANT="
               id="crops.cdt.managedbuild.option.zephyr_gcc_variant"
               isAbstract="false"
               name="zephyr_gcc_variant"
               resourceFilter="all"
               tip="Zephyr SDK Install Directory (in the toolchain container)"
               valueHandler="org.yocto.crops.zephyr.ZephyrGccVariantOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.zephyr.category.zephyr_defaults"
               command="ZEPHYR_BASE="
               id="crops.cdt.managedbuild.option.zephyr_base"
               isAbstract="false"
               name="zephyr_base"
               resourceFilter="all"
               tip="Zephyr SDK Install Directory (in the toolchain container)"
               valueHandler="org.yocto.crops.zephyr.ZephyrBaseOptionValueHandler"
               valueType="string">
         </option>
<!-- These might be needed for makefile autogen, but now they are a distraction
         <optionCategory
               id="org.yocto.crops.cdt.core.category.template_defaults"
               name="Project Template Defaults">
         </optionCategory>
         <option
               category="org.yocto.crops.cdt.core.category.template_defaults"
               defaultValue="prj.mdef"
               id="crops.cdt.managedbuild.option.project_mdef_filename"
               isAbstract="false"
               name="prf_mdef"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.cdt.core.category.template_defaults"
               defaultValue="prj.conf"
               id="crops.cdt.managedbuild.option.project_config_filename"
               isAbstract="false"
               name="prf_conf"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.cdt.core.category.template_defaults"
               defaultValue="nano "
               id="crops.cdt.managedbuild.option.short_kernel_type"
               isAbstract="false"
               name="short_kernel_type"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.cdt.core.category.template_defaults"
               defaultValue="nanokernel"
               id="crops.cdt.managedbuild.option.long_kernel_type"
               isAbstract="false"
               name="long_kernel_type"
               resourceFilter="all"
               valueType="string">
         </option>
-->
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.utils.elf.parser.ElfParser"
               id="org.yocto.crops.zephyr.targetPlatform1"
               isAbstract="false"
               osList="all"
               superClass="org.yocto.crops.core.targetPlatform1">
         </targetPlatform>
      </toolChain>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.yocto.crops.zephyr.zephyrProjectType"
            isAbstract="true"
            isTest="false"
            superClass="org.yocto.crops.core.cropsProjectType">
         <configuration
               artifactExtension="elf"
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cleanCommand="rm -rf"
               description="Release"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
               id="org.yocto.crops.zephyr.configuration.release"
               name="Release">
            <toolChain
                  id="org.yocto.crops.zephyr.toolChain.exe.release"
                  isAbstract="false"
                  superClass="org.yocto.crops.zephyr.toolchain">
            </toolChain>
         </configuration>
         <configuration
               artifactExtension="elf"
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cleanCommand="rm -rf"
               description="Debug"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
               id="org.yocto.crops.zephyr.configuration.debug"
               name="Debug">
            <toolChain
                  id="org.yocto.crops.zephyr.toolChain.exe.debug"
                  isAbstract="false"
                  superClass="org.yocto.crops.zephyr.toolchain">
            </toolChain>
         </configuration>
      </projectType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.yocto.crops.templates.zephyr.nanokernel.HelloWorldCProject"
            location="templates/projecttemplates/HelloWorldCProject-nanokernel/template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
               id="org.yocto.crops.zephyr.toolchain">
         </toolChain>
      </template>
      <template
            id="org.yocto.crops.templates.zephyr.microkernel.HelloWorldCProject"
            location="templates/projecttemplates/HelloWorldCProject-microkernel/template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
               id="org.yocto.crops.zephyr.toolchain">
         </toolChain>
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="NewGitCloneProject"
            processRunner="org.yocto.crops.zephyr.templateengine.processes.NewGitCloneProject">
         <simple
               name="projectName">
         </simple>
         <simple
               external="true"
               name="location"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="gitURI">
         </simple>
         <simple
               external="true"
               name="gitBranch">
         </simple>
      </processType>
      <processType
            name="CeedGitCloneZephyrSourceFolder"
            processRunner="org.yocto.crops.zephyr.templateengine.processes.CeedGitCloneZephyrSourceFolder">
         <simple
               name="projectName">
         </simple>
         <simple
               external="true"
               name="target"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="gitURI">
         </simple>
         <simple
               external="true"
               name="gitBranch"
               nullable="false">
         </simple>
         <simple
               external="true"
               name="containerName"
               nullable="true">
         </simple>
      </processType>
      <processType
            name="ContainerGitCloneZephyrSourceFolder"
            processRunner="org.yocto.crops.zephyr.templateengine.processes.ContainerGitCloneZephyrSourceFolder">
         <simple
               name="projectName">
         </simple>
         <simple
               external="true"
               name="target"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="gitURI"
               nullable="false">
         </simple>
         <simple
               external="true"
               name="gitBranch"
               nullable="false">
         </simple>
         <simple
               external="true"
               name="containerName"
               nullable="true">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.yocto.crops.zephyr.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.yocto.crops.core.preferences.CropsPreferencePage"
            class="org.yocto.crops.zephyr.preferences.ZephyrPreferencePage"
            id="org.yocto.crops.zephyr.PreferencePage1"
            name="Zephyr">
      </page>
   </extension>

</plugin>
