<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse-crops-oxygen" sequenceNumber="63">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.autotools.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.docker.launcher.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.tm.terminal.connector.cdtserial.feature.feature.group" version="4.3.0.201706140544"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="4.3.0.201706140544"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.linuxtools.docker.feature.feature.group" version="3.0.0.201706141541"/>
<unit id="org.eclipse.linuxtools.docker.feature.source.feature.group" version="3.0.0.201706141541"/>
<unit id="org.eclipse.linuxtools.vagrant.feature.feature.group" version="3.0.0.201706141541"/>
<unit id="org.eclipse.linuxtools.vagrant.feature.source.feature.group" version="3.0.0.201706141541"/>
<repository location="http://download.eclipse.org/linuxtools/update-oxygen-docker"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.eclipse.linuxtools.dataviewers.feature.feature.group" version="6.0.0.201706141541"/>
<repository location="http://download.eclipse.org/linuxtools/update-oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.7.0.I20170612-0950"/>
<unit id="org.eclipse.sdk.ide" version="4.7.0.I20170612-0950"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7/R-4.7-201706120950"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.arduino.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.arduino.source.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.cmake.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.cdt.cmake.source.feature.group" version="9.3.0.201706122201"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/9.3/"/>
</location>
</locations>
</target>
