<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="crops.makefileBuilder"
         name="Makefile Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.yocto.crops.core.builder.MakefileBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="crops.makefileNature"
         name="Makefile Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.yocto.crops.core.builder.MakefileNature">
         </run>
      </runtime>
      <builder
            id="crops.makefileBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Makefile Project Nature commands"
            id="org.yocto.crops.core.makefileNature.category">
      </category>
      <command
            name="Add/Remove Makefile Project Nature"
            defaultHandler="org.yocto.crops.core.builder.AddRemoveMakefileNatureHandler"
            categoryId="org.yocto.crops.core.makefileNature.category"
            id="org.yocto.crops.core.addRemoveMakefileNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.yocto.crops.core.addRemoveMakefileNature"
               label="Disable Crops Makefile builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="org.yocto.crops.core.sampleNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.yocto.crops.core.addRemoveMakefileNature"
               label="Enable Crops Makefile builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="org.yocto.crops.core.sampleNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yocto.crops.core.preferences.CropsPreferencePage"
            id="org.yocto.crops.core.preferences.CropsPreferencePage"
            name="Crops">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.yocto.crops.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.yocto.crops.core.properties.CropsPropertyPage"
            icon="icons/crops-16x16.png"
            id="org.yocto.crops.core.properties.cropsPropertyPage"
            name="CROPS Property Page"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="crops.makefile.managedbuilder"
         name="Crops Makefile Managed Builder"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="org.yocto.crops.core.preferences.CropsConfigurationEnvironmentVariableSupplier"
            id="org.yocto.crops.core.toolchain"
            isAbstract="true"
            name="CROPS Toolchain"
            osList="all"
            supportsManagedBuild="true">
         <builder
               arguments="-d ${toolchain_container_id} -g  &quot;BOARD=${board} ZEPHYR_GCC_VARIANT=${zephyr_gcc_variant} ZEPHYR_SDK_INSTALL_DIR=${zephyr_install_dir} ZEPHYR_BASE=${zephyr_base} make -C ${crops_root}/${ProjName}&quot;"
               cleanBuildTarget="-r pristine"
               command="${ceed}"
               id="org.yocto.crops.core.MakefileBuilder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="CROPS Makefile Builder">
         </builder>
         <optionCategory
               id="org.yocto.crops.core.category.defaults"
               name="Defaults">
         </optionCategory>
         <option
               browseType="file"
               category="org.yocto.crops.core.category.defaults"
               id="crops.managedbuild.option.ceed_path"
               isAbstract="false"
               name="ceed "
               resourceFilter="all"
               valueHandler="org.yocto.crops.core.preferences.CeedOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.core.category.defaults"
               id="crops.managedbuild.option.crops_root"
               isAbstract="false"
               name="crops_root"
               resourceFilter="all"
               tip="CROPS root as seen by the container"
               valueHandler="org.yocto.crops.core.preferences.CropsRootOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.core.category.defaults"
               command="-i\s"
               id="crops.managedbuild.option.codi_ip_addr"
               isAbstract="false"
               name="codi_ip_addr"
               resourceFilter="all"
               valueHandler="org.yocto.crops.core.preferences.CodiIpAddrOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.core.category.defaults"
               command="-s\s"
               id="crops.managedbuild.option.codi_socket"
               isAbstract="false"
               name="codi_socket"
               resourceFilter="all"
               valueHandler="org.yocto.crops.core.preferences.CodiSocketOptionValueHandler"
               valueType="string">
         </option>
         <option
               category="org.yocto.crops.core.category.defaults"
               command="-d\s"
               id="crops.managedbuild.option.toolchain_container_id"
               isAbstract="false"
               name="toolchain_container_id"
               resourceFilter="all"
               valueHandler="org.yocto.crops.core.preferences.ToolchainContainerIdOptionValueHandler"
               valueType="string">
         </option>
         <tool
               command="${ceed}"
               icon="icons/crops-16x16.png"
               id="org.yocto.crops.core.tool.ceed"
               isAbstract="false"
               name="ceed"
               natureFilter="both">
            <optionCategory
                  id="org.yocto.crops.core.optionCategory.general"
                  name="Options"
                  owner="org.yocto.crops.core.tool.ceed">
            </optionCategory>
            <option
                  browseType="directory"
                  category="org.yocto.crops.core.optionCategory.general"
                  command="-p "
                  defaultValue="$(ProjName)"
                  id="org.yocto.crops.core.ceed.project"
                  isAbstract="false"
                  name="Project"
                  resourceFilter="all"
                  valueType="string">
            </option>
            <option
                  category="org.yocto.crops.core.optionCategory.general"
                  command=" -i\s"
                  defaultValue="$(codi_ip_addr)"
                  id="org.yocto.crops.core.ceed.option.ip_addr"
                  isAbstract="false"
                  name="CoDi IP Address"
                  resourceFilter="all"
                  tip="Container Dispatcher IP Address"
                  valueType="string">
            </option>
            <option
                  category="org.yocto.crops.core.optionCategory.general"
                  command="-s\s"
                  defaultValue="$(codi_socket)"
                  id="org.yocto.crops.core.ceed.socket"
                  isAbstract="false"
                  name="CoDi Socket"
                  resourceFilter="all"
                  superClass="crops.managedbuild.option.codi_socket"
                  tip="Container Dispatcher Socket"
                  valueType="string">
            </option>
            <option
                  category="org.yocto.crops.core.optionCategory.general"
                  command="-d\s"
                  defaultValue="$(toolchain_container_id)"
                  id="org.yocto.crops.core.ceed.toolchain_container"
                  isAbstract="false"
                  name="Toolchain Container"
                  resourceFilter="all"
                  tip="Toolchain Container ID"
                  valueType="string">
            </option>
            <inputType
                  dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultIndexerDependencyCalculator"
                  dependencyContentType="org.eclipse.cdt.core.cHeader"
                  id="org.yocto.crops.core.inputType1"
                  name="crops.make.input"
                  primaryInput="true"
                  sourceContentType="org.eclipse.cdt.core.cSource">
            </inputType>
            <outputType
                  buildVariable="obj-y"
                  id="org.yocto.crops.core.make.output"
                  name="crops.make.output"
                  outputs="o"
                  primaryOutput="true">
            </outputType>
         </tool>
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.ELF"
               id="org.yocto.crops.core.targetPlatform1"
               isAbstract="false"
               osList="all">
         </targetPlatform>
      </toolChain>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.yocto.crops.core.cropsProjectType"
            isAbstract="true"
            isTest="false">
         <configuration
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cleanCommand="rm -rf"
               description="Release"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
               id="org.yocto.crops.core.configuration.release"
               name="Release">
            <toolChain
                  id="org.yocto.crops.core.toolChain.exe.release"
                  isAbstract="true"
                  superClass="org.yocto.crops.core.toolchain">
            </toolChain>
         </configuration>
         <configuration
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cleanCommand="rm -rf"
               description="Debug"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
               id="org.yocto.crops.core.configuration.debug"
               name="Debug">
            <toolChain
                  id="org.yocto.crops.core.toolChain.exe.debug"
                  isAbstract="true"
                  superClass="org.yocto.crops.core.toolchain">
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
